<!--   <div class="album py-1 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">


        <div class="col-auto" *ngFor="let character of _dataCharacter" >
          <div class="card shadow-sm">
            <img [src]="character.image" [alt]="character.name"  class="bd-placeholder-img card-img-top" width="100%" height="225" >
            <div class="card-body">
              <h5 class="card-title">{{character.name}}</h5>
              <ul>
                <li><strong>Estado</strong> {{character.status}}</li>
                <li><strong>Especie</strong> {{character.species}}</li>
                <li><strong>Genero</strong> {{character.gender}}</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver Personaje</button>
                </div>
                <small class="text-muted"> <strong>Creado</strong> {{character.created | date:'dd/MM/yyy HH:mm:ss'}}</small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

 -->


<section class="container">

  <div class="row active-with-click mt-5">

    <div class="col-md-4 col-sm-6 col-xs-12 animate__animated animate__fadeIn" *ngFor="let character of _dataCharacter">
      <article [id]="character?.id" class="material-card" appRandomColor>

        <h2>
          <span>{{character.name}}</span>

          <div class="row">
            <div class="col-auto">
              <strong [title]="'Genero '+ character.gender">
                <i class="fa fa-fw" [ngClass]="character.gender === 'Male' ? 'fa-male': 'fa-female'"></i>
                {{character.gender}}
              </strong>
            </div>
            <div class="col-auto">
              <strong [title]="'Status '+ character.status">
                <i class="fa fa-fw fa-heart"></i>
                {{character.status}}
              </strong>
            </div>

            <div class="col-auto text-truncate">
              <strong [title]="'Species '+ character.species">
                <i class="fa fa-fw fa-question-circle"></i>
                {{character.species}}
              </strong>
            </div>
          </div>



        </h2>



        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive animate__animated animate__fadeIn" [src]="character?.image" [alt]="character?.name">
          </div>
          <div class="mc-description">
            <app-character-details [_id]="(character?.id ?? 0)"></app-character-details>
          </div>
        </div>
        <a class="mc-btn-action" (click)="onCallDetails(character.id, $event)">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <h4 class="animate__animated animate__fadeIn">
            Created {{character?.created | date:'dd/MM/yyy HH:mm:ss' }}
          </h4>
        </div>
      </article>
    </div>

  </div>
</section>


<!-- <script>
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>
 -->
